{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
    
   
{% endblock %}


{% block body_block %}

    <h1>Rango says...</h1>
    <strong>{{ boldmessage }}</strong><br /> 
    
    <!-- Static image of Rango -->
    <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />

    <!-- Line for your name -->
    <p>This tutorial has been put together by <strong>Connor Sweeney</strong>.</p>
    
    <!-- Media image of a cat -->
     <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." /> 
    
{% endblock %}
    




